<section id="contact" class="contact-section">
  <div class="container contact-container">
    <h2 class="contact-title">კონტაქტი</h2>
    <div class="contact-grid">
      <div class="contact-item">
        <div class="contact-icon-wrapper">
          <img src="/assets/project_photos/icon/carbon_location.svg" class="icon-bg red-bg" alt="">
        </div>
        <p>ზესტაფონი, საქართველო<br>ინდუსტრიული ზონა №1</p>
      </div>
      <div class="contact-item">
        <div class="contact-icon-wrapper">
          <img src="/assets/project_photos/icon/solar_phone-linear.svg " class="icon-bg" alt="">
        </div>
        <p>+995 591 123 456<br>+995 32 2 123 456</p>
      </div>
      <div class="contact-item">
        <div class="contact-icon-wrapper">
          <img src="/assets/project_photos/icon/cib_gmail.svg" class="icon-bg" alt="">
        </div>
        <p>info georgiametal.ge<br>sales georgiametal.ge</p>
      </div>
      <div class="contact-item">
        <div class="contact-icon-wrapper">
          <img src="/assets/project_photos/icon/tdesign_time.svg" class="icon-bg" alt="">
        </div>
        <p>ორშაბათი - პარასკევი: 09:00-18:00<br>შაბათი: 09:00-14:00</p>
      </div>
    </div>
    <a href="#" class="btn btn-secondary">ვრცლად</a>
  </div>
</section>



<section class="cta">
  <div class="cta-content">
    <h1 class="cta-title">ჩვენთან ერთად წარმატება შესაძლებელია!</h1>
    <p class="cta-subtitle">
      Georgia Metal LLC - ერთ-ერთი ყველაზე თანამედროვე ფოლადის მწარმოებელი ინდუსტრიაში
    </p>
    <a href="#" class="cta-button">დამატებითი ინფორმაცია</a>
  </div>
</section>
