<section id="about" class="about-section">
  <div class="container about-container">
    <div class="about-content">
      <h2>ჩვენ შესახებ</h2>
      <p>
        Georgia Metal LLC დაარსდა 2018 წელს იმ მიზნით, რომ ჩამოყალიბებულიყო თანამედროვე, მაღალტექნოლოგიური ქარხანა, რომელიც სრულად დააკმაყოფილებდა ბაზრის მოთხოვნას არმატურაზე იმპორტის ჩანაცვლების გზით.
        <br><br>
        კომპანია ასევე მიზნად ისახავს საერთაშორისო ბაზარზე აქტიურ მოქმედებას.
        <br><br>
        ამჟამად გრაგნილი ვარშოპი მუშაობს ტესტურ რეჟიმში. მოსალოდნელია, რომ ქარხანა სრული მასშტაბით დაიწყებს მუშაობას 2025 წლის ივნისში.
        <br><br>
        Georgia Metal LLC მდებარეობს ზესტაფონში და ამჟამად ჰყავს 300-ზე მეტი თანამშრომელი.
      </p>
      <a href="#" class="btn btn-primary">გაიგე მეტი</a>
    </div>
    <div class="about-image-wrapper">
      <img src="assets/project_photos/2.png" alt="Inside the Georgia Metal factory" class="about-image">
    </div>
  </div>
</section>
