<section class="footer-section">
  <footer id="section-footer" class="site-footer">
    <div class="container footer-grid">
      <div class="footer-col footer-logo-col">
        <img ngSrc="/assets/project_photos/icon/sdsdsd%201.svg" alt="Georgia Metal Logo" class="footer-logo" height="64"
             width="64">
        <p class="copyright">©2025 ყველა უფლება დაცულია</p>
      </div>

      <div class="footer-col">
        <h4 class="footer-heading">ჩვენ შესახებ</h4>
        <ul class="footer-links">
          <li><a href="#">ჩვენ შესახებ</a></li>
          <li><a href="#">პროდუქცია</a></li>
          <li><a href="#">გალერეა</a></li>
          <li><a href="#">სიახლეები</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4 class="footer-heading">კონტაქტი</h4>
        <ul class="footer-links">
          <li><a href="#">კარიერა</a></li>
          <li><a href="#">ხარისხი</a></li>
          <li><a href="#">კონტაქტი</a></li>
        </ul>
      </div>

      <div class="footer-col footer-contact-col">
        <ul class="footer-contact-list">
          <li><img ngSrc="/assets/project_photos/icon/carbon_location.svg" alt="Location" height="50" width="50"><span>ზესტაფონი, საქართველო</span></li>
          <li><img ngSrc="/assets/project_photos/icon/solar_phone-linear.svg" alt="Phone" height="49" width="49"><span>+995 591 123 456<br>+995 591 123 456</span></li>
          <li><img ngSrc="/assets/project_photos/icon/cib_gmail.svg" alt="Email" height="40" width="40"><span>info&#64;georgiametal.ge<br>sales&#64;georgiametal.ge</span></li>
          <li><img ngSrc="/assets/project_photos/icon/fontisto_date.png" alt="Time" height="57" width="57"><span>ორშაბათი - პარასკევი: 09:00-18:00<br>შაბათი: 09:00-14:00</span></li>
        </ul>
      </div>
    </div>
  </footer>
</section>
