
.hero {
  position: relative;
  height: 100vh;
  background: url("/assets/project_photos/1.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  max-width: 600px;
  padding: 20px;
  z-index: 1;
}

.main-title {
  font-size: 56px;
  font-weight: 900;
  margin-bottom: 10px;
  font-family: 'Noto Sans Georgian', sans-serif;

}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Noto Sans Georgian', sans-serif;

}

.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 14px 30px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn.red {
  background: #D92631;
  color: white;
  width: 137px;
  height: 32px;
  border: none;            /* default border მოიშოროს */
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;         /* მაუსზე ხელის კურსორი */
  display: inline-flex;    /* ტექსტი ცენტრში */
  align-items: center;
  justify-content: center;
  text-decoration: none;   /* თუ <a> იქნება */
  flex-shrink: 0;          /* რომ არ დაეჭყლიტოს flex-ში */
  transition: background 0.3s ease;
}

.btn.red:hover {
  background: #b51e27; /* hover ეფექტი */
}


.btn.white {
  border: 1px solid white;
  color: white;
  width: 137px;
  height: 32px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;         /* მაუსზე ხელის კურსორი */
  display: inline-flex;    /* ტექსტი ცენტრში */
  align-items: center;
  justify-content: center;
  text-decoration: none;   /* თუ <a> იქნება */
  flex-shrink: 0;          /* რომ არ დაეჭყლიტოს flex-ში */
  transition: background 0.3s ease;
}

.btn.white:hover {
  background: white;
  color: black;
}

/* --- Responsive --- */
@media (max-width: 1024px) {
  .menu {
    gap: 12px;
    font-size: 13px;
  }
  .main-title {
    font-size: 42px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 30px;
  }
  .menu {
    flex-wrap: wrap;
    gap: 10px;
  }
  .main-title {
    font-size: 36px;
  }
  .subtitle {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 28px;
  }
  .description {
    font-size: 12px;
  }
  .buttons {
    flex-direction: column;
  }
  .btn {
    width: 100%;
    text-align: center;
  }
}


.arrow-down {
  position: absolute;
  bottom: 40px;   /* ეკრანის ბოლოში */
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
